<!--  *ngIf="tools.visible" -->
<!-- <div style="background-color:#D4001B; padding:10px;" *ngIf="tools.visible">
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/images/logo.png">
        </div>
        <div class="col-sm-1"></div>
    </div>
</div> -->

<mat-toolbar color="primary" style="min-height:52px" *ngIf="tools.estado_navbar">
    <mat-toolbar-row>
        <button mat-icon-button>
      <mat-icon (click)="onToggleSidenav()">menu</mat-icon> <!-- toggleSidenav.emit() -->
    </button>
        <h1>envía online</h1>
        <span></span>
        <div>
            <a mat-button [routerLink]="'/home'"> Versión 1.001 </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>