<form [formGroup]="frmCola" (ngSubmit)="consultarCola()">
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-sm-3">
                        <select name="cuenta" formControlName="drpCuenta" class="input-field" required>
                            <option value="" selected="selected">--Seleccione --</option>
                            <option *ngFor="let cuenta of cuentas" value="{{ cuenta.CuentaSin }}"> {{ cuenta.Cuenta }}</option>
                        </select>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <input type="date" formControlName="txtF1">
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <input type="date" formControlName="txtF2">
                    </div>

                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <input type="submit" name="action" value="Consultar" class="btn btn-primary" />
                    </div>
                </div>
            </div>

            <!-- <div class="form-group">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccione fecha 1</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="txtFecha1">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div> -->
            <!-- <span *ngIf="isCargando" class="viewLoading">
                <img src="assets/images//ng-loader.gif" /> <b>Buscando información</b>...
            </span> -->
            <div class="panel-body" style="width:100%; height:500px; font-size:11px; overflow: scroll;">
                <div class="form-group">
                    <div class="col-sm-12">
                        <table id="tblCola" name="tblCola" class="tabla tabla-hover table-bordered" style="width:3000px;overflow: scroll;">
                            <tr style="font-size:7px; font-weight:bold; background-color:#f7f7f7" align="center">
                                <td width="1%">Marcar</td>
                                <td><a href="">Fecha</a></td>
                                <td><a href="">Hora</a></td>
                                <td><a href="">Guía</a></td>
                                <td>Rotulo</td>
                                <td><a href="">Estado</a></td>
                                <td><a href="">Remitente</a></td>
                                <td><a href="">Dir Remitente</a></td>
                                <td><a href="">Tel_Remitente</a></td>
                                <td><a href="">Origen</a></td>
                                <td><a href="">Destinatario</a></td>
                                <td><a href="">Dir Destinatario</a></td>
                                <td><a href="">Tel_Destinatario</a></td>
                                <td><a href="">Destino</a></td>
                                <td><a href="">Servicio</a></td>
                                <td><a href="">Unidades</a></td>
                                <td><a href="">Peso</a></td>
                                <td><a href="">Volumen</a></td>
                                <td>Peso cobrado</td>
                                <td>$ Declarado</td>
                                <td>$ Flete</td>
                                <td>$ C. manejo</td>
                                <td>$ Otros</td>
                                <td><a href="">Total</a></td>
                                <td>Dice contener</td>
                                <td>Acción Nota guía</td>
                                <td>Texto guía</td>
                                <td>Usuario</td>
                                <td>Cod_Usr_Mod</td>
                            </tr>
                            <tr style="font-size:11px" align="center" *ngFor="let g of guias; let i = index">
                                <td><input type="checkbox" (change)="marcar($event.target.checked,g)"></td>
                                <!-- (change)="onChange($event.target.checked, g)" [checked]="checked(g)" -->
                                <!-- (click)="marcar(g)" -->
                                <td width="30px" style="font-weight:bold;font-size:14px; padding:0px; cursor:pointer" ng-click="marcarRegistro(g)">{{ g.Seleccionado }}</td>
                                <td>{{ g.Fecha_Captura }}</td>
                                <td>{{ g.Hora_Captura }}</td>
                                <td><a href="../../AplicacionWebPDSIHTML/Guia3.aspx?Guia={{ g.Guia }}&usuario={{ g.Cod_Usr_Mod }}" target="nueva_ventana" style="color:#D4001B">{{ g.Guia }}</a></td>
                                <td><a href="../../2IMPRESIONGUIAS/ISTickerPDV421.aspx?Guia={{ g.Guia }}&Usuario={{ g.Cod_Usr_Mod }}" target="nueva_ventana" style="color:#D4001B">{{ g.Guia }}</a></td>
                                <td>{{ g.Estado }}</td>
                                <td>{{ g.Nom_Remitente }}</td>
                                <td>{{ g.Dir_Remitente}}</td>
                                <td>{{ g.Tel_Remitente }}</td>
                                <td>{{ g.Nom_CiudadO }}</td>
                                <td>{{ g.Nom_Destinatario }}</td>
                                <td>{{ g.Dir_Destinatario}}</td>
                                <td>{{ g.Tel_Destinatario}}</td>
                                <td>{{ g.Nom_CiudadD }}</td>
                                <td><b>{{ g.Nom_Sigla }}</b></td>
                                <td>{{ g.Num_Unidades }}</td>
                                <td>{{ g.PesoReal_K }}</td>
                                <td>{{ g.PesoVolumen_K }}</td>
                                <td>{{ g.K_Cobrados }}</td>
                                <td>{{ g.Valor_Declarado }}</td>
                                <td>{{ g.Valor_Flete }}</td>
                                <td>{{ g.Valor_CostoM }}</td>
                                <td>{{ g.Valor_Otros }}</td>
                                <td>{{ g.Valor_Total }}</td>
                                <td>{{ g.Dice_Contener }}</td>
                                <td>{{ g.Accion_NotaGuia }}</td>
                                <td>{{ g.Texto_Guia }}</td>
                                <td>{{ g.Cod_Usuario }}</td>
                                <td>{{ g.Cod_Usr_Mod }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 *ngIf="messages.length != 0">Log</h3>
    <div *ngFor="let item of messages">
        save: {{item}}
    </div>
</form>