<app-header (toggleSidenav)="sidenav.toggle()"></app-header>
<app-navbar (toggleSidenav)="sidenav.toggle();"></app-navbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push" [position]="tools.posicion_menu">
        <!-- (click)="sidenav.toggle()" -->
        <app-menu *ngIf="tools.posicion_menu =='start'"></app-menu>
        <app-search *ngIf="tools.posicion_menu !='start'"></app-search>
    </mat-sidenav>

    <mat-sidenav-content style="padding-left: 15px; padding-right: 15px;">
        <div style="height: 88vh;">
            <div style="height: 6px;"></div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>



<!-- <app-header></app-header>

<div id="wrapper">
    <div id="sidebar-wrapper">
        <app-menu></app-menu>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row" style="padding-left:15px">
                <app-navbar></app-navbar>
            </div>

            <div class="row">
                <div class="col-lg-12" style="padding-left:24px; padding-right:10px; padding-top:6px;">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div> -->