.full-width-input,
button {
    width: 100%;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #6a6a6a !important;
}

 ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #f1f1f1 !important;
}

 ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #D4001B !important;
}

.mat-form-field.mat-form-field {
    font-size: 13px;
}